<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion dark-bg-color" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
          <img src="{{url_for('static', filename = 'images/ml-icon.png')}}" class="logo-icon" />
        </div>
        <div class="sidebar-brand-text mx-3">ML Models</div>
      </a>

      <!-- Divider -->



  <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>




       {% if session['username'][3]==1 %}


       <!-- Divider -->
       <hr class="sidebar-divider">
      <!-- Heading -->
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Supervised ML</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/knn_iris">KNN Iris</a>
          </div>
        </div>
      </li>

      

      <!-- Divider -->

      {%endif%}
  <hr class="sidebar-divider">

      <!-- Nav Item - Utilities Collapse Menu -->


      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->
